* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

:root {
  /* Colors */
  --color-primary-light: #f2f2f3;
  --color-primary-dark: #6e6e73;
  --color-primary-accent: #0a7aff;
  --color-white: #ffffff;
  --color-black: #000000;

  /* Font Sizes */
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-md: 16px;
  --font-size-lg: 18px;
  --font-size-xl: 24px;

  /* Box Shadows */
  --shadow-primary: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  /* Border Radius */
  --border-radius-sm: 16px;
  --border-radius-lg: 32px;

  /* Z-Index */
  --z-index-1: 10;
  --z-index-2: 20;
  --z-index-3: 30;
}
